# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.dev.vars

# Cloudflare Wrangler
.wrangler/
dist/

# Logs
*.log

# IDE and editor folders
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db 